{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Deletar Produto</h3>
    <div class="card">
        <div class="card-body">
            <p class="card-text h3">
                Tem certeza que deseja excluir o produto <strong>{{ object.title }}</strong>?
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-3">Excluir</button>
                    <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar</i></a>
                </form>
            </p>
        </div>
    </div>
</div>

{% endblock %}