{% extends 'base.html' %}

{% block title %}
SGE - Produtos
{% endblock %}

{% block content %}

{% if perms.products.view_products and perms.inflows.view_inflow %}
    {% include 'components/_product_metrics.html' %}
{% endif %}

<div class="">
    <h3 class="display-6 my-4">Produtos</h3>
</div>

<div class="d-flex justify-content-between mb-3">
    <div class="d-flex">
        <form method="GET" action="{% url 'product_list' %}" class="me-2">
            <div class="input-group">
                <input type="text" class="form-control" name="title" placeholder="Título" value="{{ request.GET.title }}" style="min-width: 24em";>
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#off-filter" aria-controls="offcanvasRight"><i class="bi bi-filter"></i></button>
    </div>

    {% if perms.products.add_product %}
    <div class="">
        <a href="{% url 'product_create' %}" class="btn btn-success rounded-pill"><i class="bi bi-plus text-truncate"></i> Novo Produto</a>
    </div>
    {% endif %}
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="off-filter" aria-labelledby="filter-products">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="off-filter-title">Filtros</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form method="GET" action="{% url 'product_list' %}" class="form">
        <select name="category" class="form-select mb-2">
            <option value="" {% if not request.GET.category %} selected {% endif %}>Todas as categorias</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if request.GET.category == category.id %} selected {% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <select name="brand" class="form-select mb-2">
            <option value="" {% if not request.GET.brand %} selected {% endif %}>Todas as marcas</option>
            {% for brand in brands %}
                <option value="{{ brand.id }}" {% if request.GET.category == brand.id %} selected {% endif %}>{{ brand.name }}</option>
            {% endfor %}
        </select>
        <input type="text" class="form-control mb-2" name="serie_number" placeholder="Nº de série" value="{{ request.GET.serie_number }}">
        <div class="d-grid">
            <button class="btn btn-primary" type="submit">
                Filtrar
            </button>
        </div>
    </form>
  </div>
</div>

<div class="table-reponsive">
    <table class="table table-hover align-middle">
        <thead class="thead-dark">
            <tr>
                <th style="text-align: center;">#</th>
                <th>Título</th>
                <th>Categoria</th>
                <th>Marca</th>
                <th>R$ Custo</th>
                <th>R$ Venda</th>
                <th>Nº Série</th>
                <th>Qtd</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for product in products %}
                <tr>
                    <td style="text-align: center;">{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.cost_price }}</td>
                    <td>{{ product.selling_price }}</td>
                    <td>{{ product.serie_number }}</td>
                    <td>{{ product.quantity }}</td>
                    <td style="text-align: end; width: 130px;">
                        {% if perms.products.view_product %}
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-outline-info rounded-pill"><i class="bi bi-eyeglasses"></i></a>
                        {% endif %}
                        
                        {% if perms.products.change_product %}
                            <a href="{% url 'product_update' product.id %}" class="btn btn-sm btn-outline-warning rounded-pill"><i class="bi bi-pencil"></i></a>
                        {% endif %}
                        
                        {% if perms.products.delete_product %}
                            <a href="{% url 'product_delete' product.id %}" class="btn btn-sm btn-outline-danger rounded-pill"><i class="bi bi-trash2-fill"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'components/_pagination.html' %}
{% endblock %}